:root {
	--fg: rgb(40, 50, 50);
	--bg: rgb(235, 235, 235);
	--accent: darkgrey;
	cursor: crosshair;
}

html {
	font-family: "Bodoni Moda", serif;
	color: var(--fg);
	background-color: var(--fg);
	padding: 0;
	margin: 0;
}

body {
	margin-left: 20vw;
	margin-right: 20vw;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 1rem;
	padding-right: 4rem;
	padding-left: 4rem;
	padding-bottom: 2rem;
	background-color: var(--bg);
	min-height: 96vh;
	box-shadow: 0px 0px 16px var(--accent);
}

@media only screen and (max-width: 1280px) {
	body {
		margin-left: 0;
		margin-right: 0;
	}
}

a {
	all: unset;
}

p {
	color: black;
	font-size: 40px;
}

li {
	font-size: 40px;
}

::selection {
	color: var(--bg);
	background-color: var(--fg);
}

header h1 {
	font-size: 8rem;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
}

h1, .home-header {
	font-size: 12rem;
}

.page-list {
	display: flex;
	gap: 2rem;
	justify-content: flex-start;
	list-style-type: none;
	padding-left: 0;
}

.page-list li a {
	display: grid;
	grid-template-columns: fit-content fit-content;
	grid-auto-flow: column;
	gap: 1rem;
	align-items: baseline;
	font-size: 16px;
}

.page-name {
	font-size: 1.5rem;
	font-weight: bold;
}

.page-date {
	color: var(--accent);
}

.page-nav {
	display: flex;
	gap: 0.5rem;
	list-style-type: none;
	padding: 0;
}

.page-nav li {
	padding-right: 0.5rem;
	user-select: none;
	font-size: 16px;
}

.page-nav a {
	user-select: none;
}

.std-button {
	color: var(--fg) !important;
	background-color: transparent !important;
	font-weight: bold !important;
	transition: all 0.2s linear 0s !important;
	user-select: none !important;
}

.std-button:hover {
	background-color: var(--fg) !important;
	color: white !important;
	cursor: crosshair;
}

.page-nav .nav-tags-label {
	background-color: transparent;
	color: var(--accent);
	padding: 0;
	font-weight: bold;
}

.flex-images {
	display: flex;
	flex-wrap: wrap;
}

.flex-images img {
	width: 49%;
	box-shadow: 0px 2px 6px var(--fg);
	margin: 0.50%;
}

img {
	max-height: 100%;
	max-width: 100%;
	object-fit: cover;
	vertical-align: bottom;
}


.inline-caption {
}

